.intvault-chat-container {
    display: flex;
    flex-direction: column;
}
.intvault-message-area {
    min-height: 0;
    overflow-y: auto;
    flex-grow: 1;
}
.intvault-input-area {
    display: flex;
    align-items: flex-end;
    margin-top: auto;
    background-color: var(--background-modifier-form-field);
    border-radius: 10px;
}

.intvault-send-button svg {
    margin: 8px;
}

.intvault-message {
    border-radius: 5px;
    padding: 8px;
    margin: 5px 0;
    display: flex;
    align-items: flex-start;
    position: relative;
    overflow: hidden;
}

.intvault-message-content  {
    display: flex;
    align-items: center;
    width: calc(100% - 40px);
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    line-height: 1.5;
}

.intvault-message svg {
    margin-right: 8px;
    flex-shrink: 0;
}

.intvault-message.sender-user {
    background-color: var(--background-primary);
    color: var(--text-normal);
    border: 1px solid var(--background-modifier-border);
}
.intvault-message.sender-bot {
    background-color: var(--background-secondary);
    color: var(--text-normal);
    border: 1px solid var(--background-modifier-border);
}
.intvault-chat-input {
    flex-grow: 1;
    min-width: 0;
    margin: 0;
    resize: none;
    height: auto;
    flex-wrap: wrap;
    box-shadow:none;
    padding: 10px;
    background-color: transparent;
}

.intvault-chat-input:focus {
    box-shadow:none;
}

.intvault-send-button {
    background: none;
    border: none;
    height: 40px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    box-shadow: none !important;
} 
.intvault-send-button:not(.clickable-icon) {
    background-color: transparent; 
    color: var(--interactive-accent);
    transition: color 0.3s ease;
}
.intvault-send-button:hover {   
    color: var(--interactive-accent-hover);
}