.intvault-chat-container {
    display: flex;
    flex-direction: column;
}
.intvault-message-area {
    min-height: 0;
    height:max-content;
    overflow-y: auto;
    flex-grow: 1;
}
.intvault-input-area {
    display: flex;
    align-items: flex-end;
    margin-top: auto;
    background-color: var(--background-modifier-form-field);
    border-radius: 10px;
    margin-top: var(--size-4-8);
}

.intvault-message {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    position: relative;
    overflow: hidden;
    --icon-size: var(--icon-size-m);
}

.intvault-message-content  {
    display: flex;
    align-items: flex-start;
    width: calc(100% - 40px);
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    line-height: 1.5;
    flex-direction: column;
    border-radius: 5px;
    margin: 5px 0;
    padding: 0 16px;
}

.intvault-message-content.sender-user {
    background-color: var(--background-primary);
    color: var(--text-normal);
    border: 1px solid var(--background-modifier-border);
}
.intvault-message-content.sender-bot {
    background-color: var(--background-secondary);
    color: var(--text-normal);
    border: 1px solid var(--background-modifier-border);
}

.intvault-message-icon {
    border-radius: 50%;
    background-color: var(--background-secondary-alt);
    padding: 8px;
    width: 40px;
    height: 40px;
    margin-right: 8px;
}

.intvault-chat-input {
    flex-grow: 1;   
    margin: 0;
    resize: none;
    height: auto;
    flex-wrap: wrap;
    box-shadow:none;
    padding: 10px;
    background-color: transparent;
    border: none;
    box-shadow: none;
    outline: none;
    overflow-y: auto;
    align-self: center;
}

.intvault-chat-input:focus {
    outline: none;
    box-shadow: none;
}

.intvault-send-button {
    background: none;
    border: none;
    height: 40px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    box-shadow: none !important;
    --icon-size: var(--icon-xl);
} 
.intvault-send-button:not(.clickable-icon) {
    background-color: transparent; 
    color: var(--interactive-accent);
    transition: color 0.3s ease;
}
.intvault-send-button:hover {   
    color: var(--interactive-accent-hover);
}

/*.intvault-textarea-container {
    align-items: center;
    height: 100%;
    width: 100%;
}*/